.cart-container{
    display:grid;
    grid-template-areas: "header"
                        "bill"
                        "item";


}
.cart__header{
    grid-area: header;


}
.cart__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap:2rem;
    align-items: center;
    grid-area: item;

}
.cart__bill{
    grid-area: bill;
    padding: 2rem;

}

@media screen and (min-width:678px){
    .cart-container{
        grid-template-areas: "header header header"
        "item item bill";
grid-column-gap:2rem ;

    }
    
}