.cartItem{
    display: flex;
    width:20rem;
    gap:0rem;
    background-color: #e5e7eb;
    padding:2rem 1rem; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.item__img img {
    object-fit: contain;
}
.cartItem .item__details{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap:1rem;
   font-weight: 600;
   padding-bottom: 1rem;;
}

.item__brand{
    display: flex;
    gap:1rem;
}
.item__details p{
    font-weight: 700;
}
.item__brand span{
    background-color: #025464;
    padding:3px;
    color:white
}
.item__size{
    align-self: center;
   
}
.item__size select{
    width: 8rem;
    text-align: center;
    font-weight: 800;
    color: red;
}
.item__img img{
    width: 8rem;
    height: 100%;
}

.quantity input{
    width:3rem;
    text-align: center;
    font-weight: 800;

}

.quantity__icon{
    color:black;
}
.cartItem p:nth-child(1){
    margin-block-start: 0em;
    margin-block-end: 0rem;

}
.cartItem p:last-of-type{
    margin-block-start: 0em;
    margin-block-end: 0rem;
    color:red;
    font-weight: 600;
}
.cartItem .addToCartBtn{
    width:8rem;
}

@media screen and (min-width:678px){
    .cartItem{
        width:32rem;
        gap:3rem;
    }
    
    .cartItem .addToCartBtn{
        width:15rem
    }
    .item__img img{
        width:12rem;
    }
}